body {
	background-color: skyblue;
	background-image: url("./tree.png");
	background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	background-blend-mode: normal;
}

.forecast{
	color: black;
	margin-left: 70%;
}